
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: #051030;
  /* background: linear-gradient(to top right ,rgb(38, 36, 47), rgb(53, 49, 65)); */
  /* background: radial-gradient(rgb(38, 36, 47) 60%, rgb(53, 50, 65)); */
}

.BAH {
  font-size: 350px;
  color: white;
}

.hmmm {
background-color: #ffffff00;
}

/* h1 {
  color: #5885AF;
}
h2 {
  color: #41729F;
}
 */
p {
  color: #C3E0E5;
}

.primary-header {
  color: #83bcf1;
  font-size: 400%;
}

.secondary-header {
  color: #4c6e8d;
}

.text {
  font-size: large;
  color:#a4bfc4;
}

h4 {
color:#a4bfc4;
}

.link-light {
  color: #f8f9fa;
}

.link-light:hover {
  color:#f9fafb;
}

.footer {
  margin-top: auto;
}

.scale-button {
  transition: 0.25s;
}

.scale-button:hover {
  transform: scale(1.08);
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0px);
  transition: 0.25s ease all;
}

.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(5%);
  transition: 0.25s ease all;
}

.dropdown-menu.show::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #cbd3da;
  color: transparent;
  width: 0%;
  height: 3px;
  transition: all 10.5s;
}

.navbar .navbar-nav .nav-link {
  color: #cbd3da;
  /* font-size: 1.1em; */
  position: relative;
}

.large-text {
    font-size: 2em;
}

.navbar .navbar-nav .nav-link:hover {
  color: #cbd3da;
}

.navbar .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #cbd3da;
  color: transparent;
  width: 0%;
  height: 3px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-link.special::after {
  content: '';
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.dropdown-divider {
  width: 80%;
  margin: auto;
}

.dropdown-item {
  text-align: center;
}

.dropdown-item:hover {
    background-color: #54376d;
}

.dropdown-center {
  right: auto;
  left: -30%;
}

.ms-3 {
  margin-left: 1rem !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.fade-in {
opacity: 0;
animation: fadeIn cubic-bezier(.37,.49,.44,1)  1s forwards;
}

.fade-down {
opacity: 0;
animation: fadeDown cubic-bezier(.6,.26,.65,.85) 500ms forwards;
}

#fade-down:nth-child(1) {animation-delay: 1s}
#fade-down:nth-child(2) {animation-delay: 0.6s}
#fade-down:nth-child(3) {animation-delay: 2s}
#fade-in:nth-child(1) {animation-delay: 1s;}
#fade-in:nth-child(2) {animation-delay: 1.5s;}
#fade-in:nth-child(3) {animation-delay: 2s;}
#fade-in:nth-child(4) {animation-delay: 4s;}
#fade-in:nth-child(5) {animation-delay: 5s;}
#fade-in:nth-child(6) {animation-delay: 6s;}

@keyframes fadeIn {
0% { opacity: 0; transform: translateX(100px) translateY(50px)}

75% { opacity: 0.9; }

100% { opacity: 1; transform: translateX(0%) translateY(0%) }
}

@keyframes fadeDown {
0% { opacity: 0; transform: translateX(0px) translateY(-20px)}

50% { opacity: 0.3; transform: translateX(2px) translateY(1px)}

100% { opacity: 1; transform: translateX(0%) translateY(0%) }
}


@media (min-width: 1400px) {
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1320px;
}
}

html {
font-size: 16px;
}
@media screen and (min-width: 320px) {
html {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
}
@media screen and (min-width: 1000px) {
html {
  font-size: 20px;
}
}